---
layout: default
title: ФОНД БРИДЖ
path: home
primaryCTA:
    title: 'This is an agency that doesn’t actually exist'
    summary: 'This is the project site you build when you take the “Learn
    Eleventy From Scratch” course so it is all made up as a pretend
    context. You will learn a lot about Eleventy by building this site
    though. Take the course today!'
    buttonText: 'Buy a copy'
    buttonUrl: 'https://piccalil.li/course/learn-eleventy-from-scratch/'
---

<div class="container mx-auto lg:min-h-screen flex flex-col justify-center items-center">
    <h1 class="mt-16">
        Welcome to
        <strong class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500">
            {{title}}
        </strong>
    </h1>

    <p>
        Пассивный доход до 20% годовых на инвестициях в недвижимость.
    </p>

    <div>
        <h3>Отзывы инвесторов</h3>
        {% set reviews = collections.review %}

        {% for review in reviews %}
        <article class="my-8">
            <h2 class="font-bold text-3xl text-gray-900 mb-2">
                <a href="{{ review.url | url }}">
                    {% if review.data.title %}
                    {{ review.data.title }}
                    {% else %}
                    Untitled
                    {% endif %}
                </a>
            </h2>
            {% if review.data.thumbnail %}
            <img src="{{review.data.thumbnail}}" alt="">
            {% endif %}
            {% if review.data.mediaUrl %}
            <p>{{ review.data.mediaUrl }}</p>
            {% endif %}
            <p class="text-base leading-6 text-gray-500 mb-3">
                <time>
                    {{ review.date | readableDate }}
                    by
                    <a>{{ review.data.author }}</a>

                </time>
            </p>
            {% if review.data.description %}
            <p class="text-lg text-gray-500 mb-3">
                {{ review.data.description }}
            </p>
            {% endif %}

            <p>
                <a href="{{ review.url | url }}" class="text-indigo-500 font-bold text-lg">
                    Read more →
                </a>
            </p>

        </article>
        {% endfor %}
    </div>
    <div>
        <h3>Вопросы</h3>
        {% set questions = collections.question %}

        {% for question in questions %}
        <article class="my-8">
            <h2 class="font-bold text-3xl text-gray-900 mb-2">
                <a href="{{ question.url | url }}">
                    {% if question.data.title %}
                    {{ question.data.title }}
                    {% else %}
                    Untitled
                    {% endif %}
                </a>
            </h2>
            {% if question.data.thumbnail %}
            <img src="{{question.data.thumbnail}}" alt="">
            {% endif %}
            <p class="text-base leading-6 text-gray-500 mb-3">
                <time>
                    {{ question.date | readableDate }}
                    by
                    <a>{{ question.data.author }}</a>

                </time>
            </p>
            {% if question.data.description %}
            <p class="text-lg text-gray-500 mb-3">
                {{ question.data.description }}
            </p>
            {% endif %}

            <p>
                <a href="{{ question.url | url }}" class="text-indigo-500 font-bold text-lg">
                    Read more →
                </a>
            </p>

        </article>
        {% endfor %}
    </div>

    <div>
        <h3>Видео</h3>
        <ul>
            <li>Видео 1</li>
            <li>Видео 2</li>
            <li>Видео 3</li>
        </ul>
    </div>

    {% include "./_includes/partials/content.html" %}
</div>